@page "/add-player-position"
@layout MainLayout
@inherits SoccerLeagueTransferApp.Pages.AddPlayerPositionComponent

@using Radzen
@using Radzen.Blazor
@using SoccerLeagueTransferApp.Models.ConData
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@playerposition" Visible="@(playerposition != null)" TItem="SoccerLeagueTransferApp.Models.ConData.PlayerPosition" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Position Name" Component="PositionName" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="display: block; width: 100%" @bind-Value="@(playerposition.PositionName)" Name="PositionName">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="PositionName" Text="PositionName is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
