@page "/edit-transfer-type/{TransferTypeID}"
@layout MainLayout
@inherits SoccerLeagueTransferApp.Pages.EditTransferTypeComponent

@using Radzen
@using Radzen.Blazor
@using SoccerLeagueTransferApp.Models.ConData
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@transfertype" TItem="SoccerLeagueTransferApp.Models.ConData.TransferType" Visible="@(transfertype != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="TransferTypeName" style="width: 100%" Text="Transfer Type Name">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="50" style="width: 100%" @bind-Value="@(transfertype.TransferTypeName)" Name="TransferTypeName">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="TransferTypeName" Text="Transfer Type Is Required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
