@page "/login"
@layout LoginLayout
@inherits SoccerLeagueTransferApp.Pages.LoginComponent

@using Radzen
@using Radzen.Blazor
@using SoccerLeagueTransferApp.Models.ConData
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" style="text-align: center" Text="Sign In">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@user" TItem="SoccerLeagueTransferApp.Models.ConData.User" Visible="@(user != null)" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Username" style="width: 100%" Text="Username">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox AutoComplete="false" MaxLength="50" style="display: block; width: 100%" @bind-Value="@(user.Username)" Name="Username">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="Username" style="position: absolute" Text="Username is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Component="Password" style="width: 100%" Text="Password">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenPassword style="width: 100%" @bind-Value="@(user.Password)" Name="Password">
                </RadzenPassword>
                <RadzenRequiredValidator Component="Password" Text="Password is required">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Text="Login">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
