@page "/users"
@layout MainLayout
@inherits SoccerLeagueTransferApp.Pages.UsersComponent

@using Radzen
@using Radzen.Blazor
@using SoccerLeagueTransferApp.Models.ConData
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Users">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getUsersResult" TItem="SoccerLeagueTransferApp.Models.ConData.User" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="SoccerLeagueTransferApp.Models.ConData.User" Property="UserID" Title="User ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="SoccerLeagueTransferApp.Models.ConData.User" Property="Username" Title="Username">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="SoccerLeagueTransferApp.Models.ConData.User" FilterProperty="ClubDetail.TeamName" Property="TeamID" SortProperty="ClubDetail.TeamName" Title="Current Club">
              <Template Context="data">
              @(data.ClubDetail?.TeamName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="SoccerLeagueTransferApp.Models.ConData.User" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="soccerLeagueTransferAppModelsConDataUser">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, soccerLeagueTransferAppModelsConDataUser))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
